<body>
	
<h1 style="text-decoration: underline;">This is me!</h1>

<h2>Jessie</h2>

<h2 style="color:blue">I am from Garden Grove, CA and I am a sophomore.</h2>


<p style="color: maroon">Fun Fact: I was almost recruited to be in a Disney Channel TV show.</p>

<p>I am excited to start making dynamic websites to improve on my web development skills.</p>
</body>